{% load static %}
    <ul id="nav">
        <li><a href="#"><img src="{% static 'img/images/home.png' %}"/> Home</a></li>
        <li><a href="#"><span><img src="{% static 'img/images/top1.png' %}"/> HTML/CSS</span></a>
            <div class="subs">
                <div class="col">
                    <ul>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 1</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 2</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 3</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 4</a></li>
                        <li><a href="#"><span><img src="{% static 'img/images/top3.png' %}"/> Sublinks</span></a>
                            <div class="subs">
                                <div class="col">
                                    <ul>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 41</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 42</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 43</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 44</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 45</a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 46</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 47</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 48</a></li>
                                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 49</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 6</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 7</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 8</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 9</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 10</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#"><span><img src="images/top2.png"/> jQuery/JS</span></a>
            <div class="subs">
                <div class="col">
                    <ul>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 1</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 2</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 3</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 4</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 5</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 6</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 7</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 8</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 9</a></li>
                        <li><a href="#"><img src="{% static 'img/images/bub.png' %}"/> Link 10</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#"><img src="{% static 'img/images/top3.png' %}"/> PHP</a></li>
        <li><a href="#"><img src="{% static 'img/images/top4.png' %}"/> MySQL</a></li>
        <li><a href="#"><img src="{% static 'img/images/top5.png' %}"/> XSLT</a></li>
    </ul>