{% extends 'index.html' %}

{% block title %}
    Lista | Grupo Riego
{% endblock title %}

{% block body %}

    <div class="card-header p-1 m-0 small roboto-condensed-regular">
        <button type="button" onclick="showModalView('modal_group_save')"
                class="btn btn-outline-success"><i class="fas fa-database"></i> Nuevo grupo riego
        </button>
    </div>
    <div class="container-fluid p-0 pb-4 roboto-condensed-regular">
        <div id="group-grid-list" style="overflow-y: scroll; height: 550px; width: auto;">{% include "irrigation/group_irrigation_grid_list.html" %}</div>
    </div>
    <div class="modal fade roboto-condensed-regular" id="modal-group-save" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade roboto-condensed-regular" id="modal-group-update" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        $('#table-group-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            fixedHeader: {
                header: true,
                {#footer: true#}
            }
        });
       /** $(document).ready(function () {
            $('#table-group-list thead.filtered th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Filtrar.." />');
            });

            var table = $('#table-group-list').DataTable({
                "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
                "responsive": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "order": [[0, "desc"]],
                "initComplete": function () {
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    })
                }
            });
        });***/

        function showModalView(route) {
            $.ajax({
                url: '/irrigation/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-group-save').html(response.form);
                    $('#modal-group-save').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        };
        $(document).on('click', '.btn-update-group', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/irrigation/modal_group_update/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    if (response.success) {
                        $('#modal-group-update').html(response.form);
                        $('#modal-group-update').modal('show');
                    }
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        });
    </script>
{% endblock extrajs %}
