<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
        <div class="modal-header" style="background-color: rgba(4,102,169, 1.0);">
            <h6 class="modal-title  text-white roboto-condensed-regular">Actualizar Ley de Nutricion</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="form-law" class="embed-responsive" enctype="multipart/form-data"
              action="{% url 'irrigation:update_law' %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="card border-primary">
                    <div class="card-header" style="background-color: rgb(4,102,169);">
                        <h6 class="card-title text-center text-white mb-0 roboto-condensed-regular">Información</h6>
                    </div>
                    <div class="card-body m-2">
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">Codigo</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-code" id="id-code"
                                       placeholder="" required
                                       value="{{ law_obj.code }}" maxlength="20">
                                <input type="hidden" class="form-control form-control-sm" name="id-pk" id="id-pk" value="{{ law_obj.id }}">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">Grupo riego</label>
                                <select class="form-control form-control-sm" id="id-group" name="id-group"
                                        required>
                                    <option value="0">Seleccione</option>
                                    {% for g in group_set %}
                                        {% if law_obj.irrigation_group.id == g.id %}
                                            <option selected value="{{ g.id }}">{{ g.departure_rc }}</option>
                                        {% else %}
                                            <option value="{{ g.id }}">{{ g.departure_rc }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">Nombre</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-name" id="id-name"
                                       placeholder="" required
                                       value="{{ law_obj.name }}" maxlength="200">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">UM</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-um" id="id-um"
                                       placeholder=""
                                       value="{{ law_obj.um }}" maxlength="200">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">N</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v1" id="id-v1"
                                       placeholder=""
                                       value="{{ law_obj.n|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">P2O5</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v2" id="id-v2"
                                       placeholder=""
                                       value="{{ law_obj.p2o5|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">K2O</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v3" id="id-v3"
                                       placeholder=""
                                       value="{{ law_obj.k2o|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">CAO</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v4" id="id-v4"
                                       placeholder=""
                                       value="{{ law_obj.cao|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">MGO</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v5" id="id-v5"
                                       placeholder=""
                                       value="{{ law_obj.mgo|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">S</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v6" id="id-v6"
                                       placeholder=""
                                       value="{{ law_obj.s|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">FE</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v7" id="id-v7"
                                       placeholder=""
                                       value="{{ law_obj.fe|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">MN</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v8" id="id-v8"
                                       placeholder=""
                                       value="{{ law_obj.mn|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">B</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v9" id="id-v9"
                                       placeholder=""
                                       value="{{ law_obj.b|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">ZN</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v10" id="id-v10"
                                       placeholder=""
                                       value="{{ law_obj.zn|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">MO</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v11" id="id-v11"
                                       placeholder=""
                                       value="{{ law_obj.mo|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">CI</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v12" id="id-v12"
                                       placeholder=""
                                       value="{{ law_obj.ci|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">CU</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v13" id="id-v13"
                                       placeholder=""
                                       value="{{ law_obj.cu|safe }}" maxlength="20">
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-12  align-self-center">
                                <label class="mb-0">H2O</label>
                                <input type="text"
                                       class="form-control form-control-sm" name="id-v14" id="id-v14"
                                       placeholder=""
                                       value="{{ law_obj.h2o|safe }}" maxlength="20">
                            </div>
                        </div>
                    </div>
                </div><!-- modal-body -->
                <div class="modal-footer p-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                    &nbsp;
                    <button id="update-law" type="submit" class="btn btn-sm btn-warning"> Actualizar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("input.decimal").keyup(function (e) {
        let val = $(this).val();
        if (isNaN(val)) {
            $(this).val('');
        }
    });
    $('#form-law').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#form-law').get(0));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response) {
                if (response.success) {
                    toastr.success('Informacion actualizada con exito');
                    setTimeout(() => {
                        location.reload();
                    }, 400);
                }
            },
            error: function (response) {
                toastr.error('La informacion no se logro actualizada');
            }
        });
    });
</script>