{% extends 'index.html' %}
{% load static %}
{% block title %}
    Empresas | System
{% endblock title %}

{% block body %}

    <div class="card-header p-1 m-0 small roboto-condensed-regular">
        <button type="button" onclick="showModalView('get_business_form')"
                class="btn btn-outline-success" style="font-size: 13px;"><i class="fas fa-database"></i> Nueva empresa
        </button>
    </div>
    <div class="container-fluid p-0 pb-4 roboto-condensed-regular">
        <div id="business-grid-list" style="overflow-y: scroll; height: 550px; width: auto;">{% include "agricultural/business_grid_list.html" %}</div>
    </div>
    <div class="modal fade roboto-condensed-regular" id="modal-business-form" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade roboto-condensed-regular" id="modal-business--update-form" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">
        $('#table-business-list').DataTable({
            "language": {
                "url": '{% static "language.datatable.txt.txt" %}'
            },
            responsive: true,
            autoWidth: false
        });

        function showModalView(route) {
            $.ajax({
                url: '/agricultural/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-business-form').html(response.form);
                    $('#modal-business-form').modal('show');
                },
                fail: function (response) {
                    toastr.error('Problemas al abrir el formulario', '¡Mensaje!');
                }
            });
        };
        $(document).on('click', '.btn-update-business', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/agricultural/modal_update_business/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    if (response.success) {
                        $('#modal-business--update-form').html(response.form);
                        $('#modal-business--update-form').modal('show');
                    }
                },
                fail: function (response) {
                    toastr.error('Problemas al mostrar formulario', '¡Mensaje!');
                }
            });
        });
    </script>
{% endblock extrajs %}
