{% load static %}
{% if employee_set %}
    <div class="card border-info roboto-condensed-regular">
        <div class="card-header" style="background-color: rgba(11,119,169,0.8);">
            <h6 class="card-title text-center text-white mb-0 roboto-condensed-regular">Listado de usuarios</h6>
        </div>
        <div class="card-body pb-1">
            <div class="table-responsive small dataTables_wrapper">
                <table id="table-employee-list"
                       class="table   align-content-center table-bordered"
                       cellspacing="0" width="100%" style="border-collapse:collapse;">
                    <thead>
                    <tr class="text-center  text-white"
                        style="background-color: rgba(11,119,169, 0.8);">
                        <th class="font-weight-normal">N°</th>
                        <th class="font-weight-normal">Documento</th>
                        <th class="font-weight-normal">Nombres y apellidos</th>
                        <th class="font-weight-normal">Informacion</th>
                        <th class="font-weight-normal">Correo</th>
                        <th class="font-weight-normal">Cargo</th>
                        <th class="font-weight-normal">Estado</th>
                        <th class="font-weight-normal">Foto</th>
                        <th class="font-weight-normal">Acción</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 13px;">
                    {% for u in employee_set %}
                        <tr class="text-center">
                            <td class="align-middle">{{ u.id }}</td>
                            <td class="align-middle">
                                {% if u.person %}
                                    {{ u.person.document }}
                                {% else %}
                                    ********
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if u.person %}
                                    {{ u.first_name }}<br>
                                    {{ u.last_name }}
                                {% else %}
                                    Administrador
                                {% endif %}
                            </td>
                            </td>
                            <td class="align-middle text-left">
                                {% if u.person %}
                                    Fecha Nacimiento: {{ u.person.birth_date }}<br>
                                    Telefono: {{ u.person.telephone }}<br>
                                    Direccion: {{ u.person.address }}
                                {% else %}
                                    Fecha Nacimiento: -<br>
                                    Telefono: -<br>
                                    Direccion: -
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ u.email }}</td>
                            <td class="align-middle">
                                {% if u.person %}
                                    {{ u.person.get_charge_display }}
                                {% else %}
                                    Admin
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if u.is_active %}
                                    Activo
                                {% else %}
                                    Inactivo
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if u.person.photo != '' %}
                                    <img class="img-thumbnail" src="{{ u.person.photo.url }}" id="img-photo-employee"
                                         width="100px"
                                         height="80px">
                                {% else %}
                                    <img class="img-thumbnail" src="{% static 'img/logo1.jpg' %}"
                                         id="img-photo-employee"
                                         width="100px"
                                         height="80px">
                                {% endif %}
                            </td>
                            <td class="p-1 align-middle">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success  dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 12px;">
                                        Acción
                                    </button>
                                    <div class="dropdown-menu border-info">
                                        <a class="dropdown-item btn-update-person"
                                           style="cursor: pointer; font-size: 12px;" pk="{{ u.id }}"><i
                                                class="fas fa-edit pr-1"></i> Modificar datos </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="text-center text-white" style="background-color: rgba(11,119,169, 0.8);">
                        <th class="font-weight-normal">N°</th>
                        <th class="font-weight-normal">Documento</th>
                        <th class="font-weight-normal">Nombres y apellidos</th>
                        <th class="font-weight-normal">Informacion</th>
                        <th class="font-weight-normal">Correo</th>
                        <th class="font-weight-normal">Cargo</th>
                        <th class="font-weight-normal">Estado</th>
                        <th class="font-weight-normal">Foto</th>
                        <th class="font-weight-normal">Acción</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <style>
        #img-photo-employee {
            border-radius: 50%;
            vertical-align: middle;
        }
    </style>
{% else %}
    <h6>No existen registros de trabajadores</h6>
{% endif %}