{% extends 'index.html' %}

{% block title %}
    Lista | Lotes
{% endblock title %}

{% block body %}

    <div class="card-header p-1 m-0 small roboto-condensed-regular">
        <button type="button" onclick="showModalView('modal_lot_save')"
                class="btn btn-outline-success"><i class="fas fa-database"></i> Nuevo lote
        </button>
    </div>
    <div class="container-fluid p-0 pb-4 roboto-condensed-regular">
        <div id="lot-grid-list" style="overflow-y: scroll; height: 480px; width: auto;">{% include "agricultural/lot_grid_list.html" %}</div>
    </div>
    <div class="modal fade roboto-condensed-regular" id="modal-lot-save" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade roboto-condensed-regular" id="modal-lot-update" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        $('#table-lot-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            fixedHeader: {
                header: true,
                {#footer: true#}
            }
        });

        function showModalView(route) {
            $.ajax({
                url: '/agricultural/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-lot-save').html(response.form);
                    $('#modal-lot-save').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        };
        $(document).on('click', '.btn-update-lot', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/agricultural/modal_lot_update/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    if (response.success) {
                        $('#modal-lot-update').html(response.form);
                        $('#modal-lot-update').modal('show');
                    }
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        });
        $(document).on('change', '#id-domain', function () {
            let _val = $(this).val();
            $('#id-module').empty();
            $('#id-module').append('<option value="0">' + "Seleccione" + '</option>');
            if (_val != 0) {
                $.ajax({
                    url: '/agricultural/get_module_by_domain/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {'_pk': _val},
                    success: function (response) {
                        let module_list = JSON.parse(response['modules_set']);
                        module_list.forEach(
                            element =>
                                $('#id-module').append(
                                    '<option value="' + element['pk'] + '">' + element['fields']['name'] + '</option>')
                        );
                    },
                });
            }
        });
    </script>
{% endblock extrajs %}
