{% load static %}
{% if program_production_set %}
    <div class="card border-info roboto-condensed-regular">
        <div class="card-header" style="background-color: rgb(11,124,208);">
            <h6 class="card-title text-center text-white mb-0 roboto-condensed-regular">Programas de produccion</h6>
        </div>
        <div class="card-body pb-1">
            <div class="small dataTables_wrapper">
                <table id="table-program-list"
                       class="table   align-content-center table-bordered"
                       cellspacing="0" width="100%" style="border-collapse:collapse;">
                    <thead>
                    <tr class="text-center  text-white"
                        style="background-color: rgb(14,123,207);">
                        <th class="font-weight-normal">N°</th>
                        <th class="font-weight-normal">Zona</th>
                        <th class="font-weight-normal">Fundo</th>
                        <th class="font-weight-normal">Modulo</th>
                        <th class="font-weight-normal">Lote</th>
                        <th class="font-weight-normal">Campaña</th>
                        <th class="font-weight-normal">Año</th>
                        <th class="font-weight-normal">Cierre campaña</th>
                        <th class="font-weight-normal">Siembra</th>
                        <th class="font-weight-normal">Cultivo</th>
                        <th class="font-weight-normal">Variedad</th>
                        <th class="font-weight-normal">Area</th>
                        <th class="font-weight-normal">Densidad</th>
                        <th class="font-weight-normal">Costo</th>
                        <th class="font-weight-normal">Responsable</th>
                        <th class="font-weight-normal">Estado</th>
                        <th class="font-weight-normal">Acción</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 13px;">
                    {% for p in program_production_set %}
                        <tr class="text-center">
                            <td class="align-middle">{{ p.id }}</td>
                            <td class="align-middle">{{ p.lot.module.domain.zone.name }}</td>
                            <td class="align-middle">{{ p.lot.module.domain.name }}</td>
                            <td class="align-middle">{{ p.lot.module.name }}</td>
                            <td class="align-middle">{{ p.lot.name }}</td>
                            <td class="align-middle">{{ p.campaign_number }}</td>
                            <td class="align-middle">{{ p.campaign_year }}</td>
                            <td class="align-middle">{{ p.campaign_closure }}</td>
                            <td class="align-middle">{{ p.get_sowing_display }}</td>
                            <td class="align-middle">{{ p.variety.cultivation.name }}</td>
                            <td class="align-middle">{{ p.variety.name }}</td>
                            <td class="align-middle">{{ p.area|safe }}</td>
                            <td class="align-middle">{{ p.density }}</td>
                            <td class="align-middle">{{ p.cost }}</td>
                            <td class="align-middle">{{ p.responsible }}</td>
                            <td class="align-middle">{{ p.get_status_display }}</td>
                            <td class="p-1 align-middle">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success  dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 12px;">
                                        Acción
                                    </button>
                                    <div class="dropdown-menu border-info">
                                        <a class="dropdown-item btn-update-program"
                                           style="cursor: pointer; font-size: 12px;" pk="{{ p.id }}"><i
                                                class="fas fa-edit pr-1"></i> Modificar datos </a>
                                        <a class="dropdown-item btn-phenology" href="{% url 'agricultural:phenology_list' %}"
                                           style="cursor: pointer; font-size: 12px;" pk="{{ p.id }}"><i
                                                class="fab fa-microsoft pr-1"></i> Fenologia </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h6>No existen registros de programas de produccion</h6>
    </div>
{% endif %}