{% extends 'index.html' %}

{% block title %}
    Programa | Produccion
{% endblock title %}

{% block body %}

    <div class="card-header p-1 m-0 small roboto-condensed-regular">
        <button type="button" onclick="showModalView('program_production_save')"
                class="btn btn-outline-success" style="font-size: 13px;"><i class="fas fa-database"></i> Registrar Programa Produccion
        </button>
    </div>
    <div class="container-fluid montserrat p-0 pb-4 roboto-condensed-regular">
        <div id="program-grid-list" style="overflow-y: scroll; height: 480px; width: auto;">{% include "agricultural/production_program_grid.html" %}</div>
    </div>
    <div class="modal fade roboto-condensed-regular" id="modal-program-form" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">
        $('#table-program-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            fixedHeader: {
                header: true,
            }
        });

        function showModalView(route) {
            $.ajax({
                url: '/agricultural/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-program-form').html(response.form);
                    $('#modal-program-form').modal('show');
                },
                fail: function (response) {
                    toastr.error('Problemas al abrir el formulario', '¡Mensaje!');
                }
            });
        };
        $(document).on('click', '.btn-update-program', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/agricultural/get_program_update_form/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#modal-program-form').html(response.form);
                        $('#modal-program-form').modal('show');
                    }
                },
                fail: function (response) {
                    toastr.error('Problemas al mostrar formulario', '¡Mensaje!');
                }
            });
        });
    </script>
{% endblock extrajs %}
