<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
        <div class="modal-header" style="background-color: rgba(4,102,169, 1.0);">
            <h6 class="modal-title  text-white" style="font-size: 14px;">Registro de Programa de Produccion</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="form-program" class="embed-responsive" enctype="multipart/form-data"
              style="font-size: 13px;" action="{% url 'agricultural:save_program' %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="card border-primary">
                    <div class="card-header" style="background-color: rgb(4,102,169);">
                        <h6 class="card-title text-center text-white mb-0" style="font-size: 15px;">Información</h6>
                    </div>
                    <div class="card-body m-1">
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label for="id_domain" class="mb-1">Fundo</label>
                                <select id="id_domain" name="id_domain" class="form-control form-control-sm" required>
                                    <option value="0">Seleccione</option>
                                    {% for d in domain_set %}
                                        <option value="{{ d.id }}">{{ d.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label for="id_module" class="mb-1">Modulo</label>
                                <select id="id_module" name="id_module" class="form-control form-control-sm">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label for="id_lot" class="mb-1">Lote</label>
                                <select id="id_lot" name="id_lot" class="form-control form-control-sm">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="number_campaign" class="mb-1">Numero campaña</label>
                                <input type="number" id="number_campaign" name="number_campaign" required
                                       class="form-control form-control-sm" maxlength="20" value="" placeholder="">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="year_campaign" class="mb-1">Año campaña</label>
                                <input type="number" id="year_campaign" name="year_campaign" required
                                       class="form-control form-control-sm" maxlength="20" value="" placeholder="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label for="id_cultivation" class="mb-1">Cultivo</label>
                                <select id="id_cultivation" name="id_cultivation" class="form-control form-control-sm">
                                    <option value="0">Seleccione</option>
                                    {% for c in cultivation_set %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label for="id_variety" class="mb-1">Variedad</label>
                                <select id="id_variety" name="id_variety" class="form-control form-control-sm">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="id_area" class="mb-1">Area</label>
                                <input type="text" id="id_area" name="id_area"
                                       class="form-control form-control-sm decimal" maxlength="32" value=""
                                       placeholder="">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="date_campaign" class="mb-1">Cierre campaña</label>
                                <input type="date" id="date_campaign" name="date_campaign" required
                                       class="form-control form-control-sm" maxlength="20" value="" placeholder="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="density" class="mb-1">Densidad</label>
                                <input type="number" id="density" name="density" maxlength="20" required
                                       class="form-control form-control-sm" value="" placeholder="">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="id_sowing" class="mb-1">Siembra</label>
                                <select id="id_sowing" name="id_sowing" class="form-control form-control-sm" required>
                                    <option value="0">Seleccione</option>
                                    {% for s in sowing_set %}
                                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="id-cost" class="mb-1">Centro de costo</label>
                                <input type="number" id="id-cost" name="id-cost" maxlength="20"
                                       class="form-control form-control-sm" value="" placeholder="" required>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                                <label for="id_state" class="mb-1">Estado</label>
                                <select id="id_state" name="id_state" class="form-control form-control-sm" required>
                                    <option value="0">Seleccione</option>
                                    {% for s in state_set %}
                                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label for="id_responsible" class="mb-1">Responsable</label>
                                <input type="text" maxlength="200" class="form-control form-control-sm"
                                       id="id_responsible" name="id_responsible" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="save-zone" type="submit" class="btn btn-sm btn-success"> Registrar
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("input.decimal").keyup(function (e) {
        let val = $(this).val();
        if (isNaN(val)) {
            $(this).val('');
        }
    });
    $('#form-program').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#form-program').get(0));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response) {
                if (response.success) {
                    toastr.success('Programa de produccion registrada');
                    setTimeout(() => {
                        location.reload();
                    }, 400);
                }
            },
            error: function (response) {
                toastr.error('El prorama de produccion no se registro');
            }
        });
    });
</script>