<div class="modal-dialog modal-dialog-centered modal-lg" role="document">

    <div class="modal-content roboto-condensed-regular">

        <div class="modal-header" style="background-color: rgb(5,98,160);">
            <h6 class="modal-title  text-white roboto-condensed-regular">Modificación de accesos al sistema</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="form-update-worker" class="" action="{% url 'user:update_user' %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="card border-primary">
                    <div class="card-header" style="background-color: rgb(4,97,169);">
                        <h6 class="card-title text-center text-white mb-0 roboto-condensed-regular">Empleado - Usuario</h6>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-responsive table-sm small" style="width: 100%">
                             <tr>
                                <td class="align-middle" style="width: 10%">Documento</td>
                                <td style="width: 25%">
                                    <input type="hidden"
                                           class="form-control text-center" name="pk" id="id_pk"
                                           required readonly value="{{ employee_obj.user.id }}">
                                    <input type="text" style="width: 150px;"
                                           class="form-control form-control-sm text-center" name="document" id="id_document"
                                           placeholder="Documento"  required readonly value="{{ employee_obj.document_number }}">
                                </td>
                                <td class="align-middle" style="width: 10%">Nombres</td>
                                <td colspan="3" style="width: 55%">
                                    <input type="text" style="width: 300px;"
                                           class="form-control form-control-sm text-center" name="full_names" id="id_full_names"
                                           placeholder="Nombres" required readonly value="{{ employee_obj.full_name }}">
                                </td>
                            </tr>
                            <tr class="justify-content-center">
                                <td class="align-middle">Usuario</td>
                                <td class="align-middle">
                                    <input type="text" class="form-control form-control-sm" id="id_username"
                                      name="username" required value="{{ employee_obj.user.username }}">
                                </td>
                                <td class="align-middle">Nueva Contraseña</td>
                                <td class="align-middle" style="width: 150px">
                                    <input type="password" class="form-control form-control-sm" minlength="6"
                                     id="id_password" name="password" required value="">
                                </td>
                                <td class="align-middle text-center"  style="width: 100px">Acceso panel</td>
                                <td class="align-middle text-center pb-5"  style="width: 100px">
                                    <input type="checkbox" class="form-check-input form-control-sm" id="id_is_staff" name="is_staff"
                                           value="" {% if  employee_obj.user.is_superuser %} checked="{{  employee_obj.user.is_superuser }}" {% endif %}>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer border-primary">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> &nbsp;
                 <button id="create-worker" type="submit" class="btn text-white" style="background-color: rgb(4,97,169);">Registrar</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    $('#form-update-worker').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#form-update-worker').get(0));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response, textStatus, xhr) {
                if(xhr.status==200){
                    toastr.success('¡Usuario actualizado correctamente!','¡Mensaje!');
                    setTimeout(() => {location.reload();}, 400);
                }
            },
             error : function(jqXhr, textStatus, xhr) {
                if(jqXhr.status==500){
                    toastr.error (jqXhr.responseJSON.error, '¡Error!');
                }
                else{
                    console.log(" STATUS: " + xhr + " " + textStatus);
                }

            }
        });
    });


</script>